<div class="navbar">
	<div class="container">
		<nav class="nav navbar__nav">
			<div class="nav-info"><a href="#" class="nav__logo"><img src="images/header/logotype.svg" alt="MailGenius"></a>
				<ul class="nav__ul nav-action">
					<li class="nav-action__li"><a href="#" class="nav-action__link">Email Consulting</a></li>
					<li class="nav-action__li"><a href="#" class="nav-action__link">Contact Us</a></li>
				</ul>
			</div>
			<!-- /.nav-info -->
			<ul class="nav__ul nav-policy">
				<li class="nav-policy__li"><a href="#" class="nav-policy__link">Privacy Policy</a></li>
				<li class="nav-policy__li"><a href="#" class="nav-policy__link">Disclaimer</a></li>
			</ul>
		</nav>
	</div>
</div>
